ngl-expandable-section([(open)]="open", title="Section Title", [collapsable]="collapsable")
  | Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
  | Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
  | sit amet risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  | Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue.

button.slds-m-top_large(type="button", nglButton, (click)="change()") Toggle Collapsable
