header.page__header.slds-border_bottom.slds-grid.slds-wrap.slds-m-bottom_medium
  .slds-has-flexi-truncate.slds-align-middle
    h1 Need help?

p
  | If you have discovered a bug or have a feature suggestion, feel free to
  |
  a(href="https://github.com/ng-lightning/ng-lightning/issues") create an issue
  |  on GitHub.
  br
  | Otherwise, you can use any of the following methods to find somenone available to answer your questions.
|
.callout Stack Overflow
|
.slds-m-vertical_small
  | Members of our community should use Stack Overflow to ask questions about how something works or how to contribute.
  | Read through the
  |
  a(href="https://stackoverflow.com/questions/tagged/ng-lightning", target="_blank", rel="noopener noreferrer") existing questions
  |  tagged with
  b  ng-lightning
  |  or don't hesitate to
  |
  a(href="https://stackoverflow.com/questions/ask?tags=ng-lightning", target="_blank", rel="noopener noreferrer") ask your own
  | !
