ul(ngl-accordion, [(activeName)]="active")
  ng-container(*ngFor="let section of sections")
    ng-template(nglAccordionSection, [name]="section.name", [label]="header", [labelContext]="section.header")
      | {{ section.content }}


ng-template(#header, let-data)
  .slds-grid.slds-grid_vertical-align-center.slds-m-left_small
    ngl-icon.slds-m-right_x-small([iconName]="data.icon", size="small")
    |
    |
    strong {{ data.label }}
