div([class.slds-truncate]="column.truncate", [attr.title]="column.truncate ? value : null")
  ng-container(*ngIf="column.cellTpl; else stringTpl", [ngTemplateOutlet]="column.cellTpl.templateRef", [ngTemplateOutletContext]="context")
  ng-template(#stringTpl) {{ value }}
