.slds-text-title_caps.slds-m-bottom_small Variants
button(type="button", nglButtonIcon, iconName="utility:settings", title="Settings (default/border)")
button(type="button", nglButtonIcon, variant="brand", iconName="utility:settings", title="Settings (brand)")
button(type="button", nglButtonIcon, variant="container", iconName="utility:settings", title="Settings (container)")

.slds-text-title_caps.slds-m-bottom_small.slds-m-top_large Inverse Variants
.slds-m-vertical_small.slds-p-vertical_x-small(style="background-color: #16325c;")
  button(type="button", nglButtonIcon, variant="inverse", iconName="utility:settings", title="Settings (inverse)")
  button(type="button", nglButtonIcon, variant="border-inverse", iconName="utility:settings", title="Settings (border-inverse)")

.slds-text-title_caps.slds-m-bottom_small.slds-m-top_large Sizes
button(type="button", nglButtonIcon, variant="brand", iconName="utility:settings", title="Settings (container)", size="xx-small")
button(type="button", nglButtonIcon, variant="brand", iconName="utility:settings", title="Settings (container)", size="x-small")
button(type="button", nglButtonIcon, variant="brand", iconName="utility:settings", title="Settings (container)", size="small")
button(type="button", nglButtonIcon, variant="brand", iconName="utility:settings", title="Settings (container)")
button(type="button", nglButtonIcon, variant="bare", iconName="utility:settings", title="Settings (container)", size="x-small")
button(type="button", nglButtonIcon, variant="bare", iconName="utility:settings", title="Settings (container)", size="small")
button(type="button", nglButtonIcon, variant="bare", iconName="utility:settings", title="Settings (container)")
button(type="button", nglButtonIcon, variant="bare", iconName="utility:settings", title="Settings (container)", size="large")

.slds-text-title_caps.slds-m-bottom_small.slds-m-top_large Stateful
button(type="button", nglButtonIconStateful, [(selected)]="selected", iconName="utility:like", title="Settings (default/border)")
button(type="button", nglButtonIconStateful, [(selected)]="selected", iconName="utility:like", size="xx-small", title="Settings (default/border)")
