button(type="button", nglButton, [nglPopover]="tip", nglPopoverPlacement="right", nglPopoverHeader="Header", nglPopoverFooter="Footer", [(nglPopoverOpen)]="open") Click me

ng-template(#tip)
  | Sit nulla est ex deserunt exercitation anim occaecat. Nostrud ullamco deserunt aute id consequat veniam incididunt duis in sint irure nisi.
