a([nglTooltip]="interactive", nglTooltipInteractive="true", nglTooltipDelay="500", nglTooltipOpenAuto) Hover...
|
|
ng-template(#interactive)
  | Try clicking
  |
  a(href="https://github.com/ng-lightning/ng-lightning", target="_blank") this link
  |.
