svg.slds-button__icon.slds-button__icon_left(*ngIf="hasLeftIcon()", [nglIconName]="iconName")
ng-content
svg.slds-button__icon.slds-button__icon_right(*ngIf="hasRightIcon()", [nglIconName]="iconName")
