legend.slds-form-element__legend.slds-form-element__label
  abbr.slds-required(*ngIf="required", title="required") *
  span([nglInternalOutlet]="label")
.slds-form-element__control
  .slds-checkbox_button-group(*ngIf="type === 'button'; else contentTpl")
    ng-container(*ngTemplateOutlet="contentTpl")
.slds-form-element__help(*ngIf="hasError", [id]="errorId", [nglInternalOutlet]="error")

ng-template(#contentTpl)
  ng-content
