div(style="position:relative; height:6.25rem; z-index:0;")
  ngl-spinner([size]="size", [variant]="variant", alternativeText="Loading")
|
|
button.slds-m-top_large(type="button", nglButton, (click)="change()") Change
