.banner-wrapper(style="flex: 1")
  .banner.slds-grid.slds-grid_vertical.slds-grid_align-spread

    div

    .slds-grid.slds-grid_align-center.slds-p-around_small
      .slds-text-align_center
        h1.intro__title NG-LIGHTNING
        .slds-text-heading_small Native Angular components & directives for Lightning Design System

    .slds-grid.slds-grid_align-center.slds-p-around_small
      img(src="assets/images/shield.svg", style="height: 200px;")

    .slds-grid.slds-grid_align-center.slds-grid_vertical.slds-text-align_center.slds-p-around_small
      div
        a.slds-button.slds-button_brand.intro__button(routerLink="/get-started") GET STARTED
        a.slds-button.slds-button_outline-brand.intro__button(routerLink="/components") DOCUMENTATION
      .slds-p-vertical_small
        | View the
        |
        a(href="https://github.com/ng-lightning/ng-lightning", target="_blank") source
        |  on GitHub
        span.slds-m-horizontal_x-small ·
        | Current release:
        |
        a(href="https://www.npmjs.com/package/ng-lightning", target="_blank") v#{self.version}

    div

.slds-container_x-large.slds-container_center.slds-p-horizontal_x-large.slds-p-bottom_x-large
  .slds-grid.slds-wrap
    .slds-col_padded.slds-text-align_center.slds-size_1-of-1.slds-large-size_1-of-3
      .callout BUILDING FOR THE FUTURE
      .slds-m-top_small
        | Built upon next generation frameworks like
        |
        a(href="https://angular.io/") Angular
        |  and
        |
        a(href="https://www.lightningdesignsystem.com/") Salesforce's Lightning Design System
        | , rest ​assured that you are building an application to stand the test of time.

    .slds-col_padded.slds-text-align_center.slds-size_1-of-1.slds-large-size_1-of-3
      .callout BEST PRACTICES
      .slds-m-top_small
        | We focus on building stateless functional components that depend only on their input properties, guaranteeing better performance, more development flexibility and seamless integration with your application's requirements.

    .slds-col_padded.slds-text-align_center.slds-size_1-of-1.slds-large-size_1-of-3
      .callout ACCESSIBILITY
      .slds-m-top_small
        | We put a lot of effort to follow Lightning Design System's accessibility guidelines, to assure that your product is operable by people with a wide range of abilities
        | and meets all legal requirements.

include ../layout/_footer
