a.slds-carousel__panel-action.slds-text-link_reset(href="javascript:void(0);", [attr.tabindex]="active ? 0 : -1")
  .slds-carousel__image
    img([src]="src", [attr.alt]="alternativeText || null")
  .slds-carousel__content
    h2.slds-carousel__content-title([nglInternalOutlet]="header")
    p([nglInternalOutlet]="description")
