.slds-grid.slds-wrap.slds-gutters_direct-medium
  .slds-col
    ngl-colorpicker([(ngModel)]="color", label="Swatches variant", variant="swatches")

  .slds-col
    ngl-colorpicker([(ngModel)]="color", label="Custom variant", variant="custom")

  .slds-col
    ngl-colorpicker([(ngModel)]="color", label="Disabled", disabled)

  .slds-col
    ngl-colorpicker([(ngModel)]="color", label="Readonly Input", readonlyInput)

  .slds-col
    ngl-colorpicker([(ngModel)]="color", label="Required", required)
