.slds-grid.slds-grid_pull-padded.slds-grid_vertical-align-center.slds-m-top_large
  .slds-col_padded
    ngl-checkbox(label="Required")
      input(ngl, type="checkbox", [(ngModel)]="required")

  .slds-col_padded
    ngl-checkbox(label="Error")
      input(ngl, type="checkbox", [(ngModel)]="hasError")

  .slds-col_padded
    ngl-checkbox(label="Disabled")
      input(ngl, type="checkbox", [(ngModel)]="disabled")


.slds-grid.slds-grid_pull-padded.slds-grid_vertical-align-center.slds-m-top_large
  .slds-col_padded
    ngl-select(label="Select Label", fieldLevelHelpTooltip="Some helpful information", [error]="hasError ? error : null")
      select(ngl, [required]="required", [disabled]="disabled")
        option(value="") Please select
        option Option One
        option Option Two
        option Option Three
