footer.footer.width-100pc.slds-grid.slds-grid_vertical-align-end.slds-wrap.slds-text-body_small.slds-p-top_medium.slds-p-bottom_small.slds-p-horizontal_xx-large
  .slds-col © 2016 - present. Code licensed under the MIT License.
  .slds-col.slds-text-align_right Last updated on {{#{self.now} | date:'dd MMM yyyy HH:mm:ss'}} v#{self.version}
