.slds-m-vertical_medium(style="width: 20rem;")
  ngl-file([text]="showFilename ? 'file ' + ratio : null", [iconName]="icon")
    a(href="javascript:void(0)", [nglFileCrop]="ratio")
      img(src="https://www.lightningdesignsystem.com/assets/images/placeholder-img@16x9.jpg")
|
|
button(type="button", nglButton, (click)="changeRatio()") Change Ratio
button(type="button", nglButton, (click)="toggleFilename() ") Toggle filename
