button(type="button", nglButton, (click)="open()") Open modal
ngl-modal([header]="noHeader ? '' : 'Modal Header'", [(open)]="opened", [directional]="directional")
  ng-template(nglModalTagline, *ngIf="hasTagline")
    | Here's a tagline if you need it. It is allowed to extend across multiple lines, so I'm making up content to show that to you. It is allowed to
    |
    a(href="javascript:void(0);") contain links or be a link
    | .
  |
  .slds-p-around_medium
    p
      | Sit nulla est ex deserunt exercitation anim occaecat. Tempor cupidatat consequat elit dolor adipisicing.
    |
    p Dolor eiusmod sunt ex incididunt cillum quis nostrud velit duis sit officia.
    |
    p
      | Labore esse esse cupidatat amet velit id elit consequat minim ullamco mollit enim excepteur ea.
  |
  ng-template(nglModalFooter, *ngIf="!noFooter")
    button.slds-button.slds-button_neutral((click)="cancel()") Cancel
    |
    button.slds-button.slds-button_brand Save
|
|
.slds-m-top_medium
  ngl-checkbox.slds-m-top_small(label="No header")
    input(ngl, type="checkbox", [(ngModel)]="noHeader")
  ngl-checkbox.slds-m-top_small(label="Tagline")
    input(ngl, type="checkbox", [(ngModel)]="hasTagline", [disabled]="noHeader")
  ngl-checkbox.slds-m-top_small(label="No footer")
    input(ngl, type="checkbox", [(ngModel)]="noFooter")
  ngl-checkbox.slds-m-top_small(label="Directional footer")
    input(ngl, type="checkbox", [(ngModel)]="directional", [disabled]="noFooter")
