button(type="button", nglButton, (click)="open = true") Open modal
|
|
ngl-modal([(open)]="open")
  ng-template(nglModalHeader)
    h2.slds-text-heading_large.slds-hyphenate
      .slds-grid.slds-grid_vertical-align-center
        span This is a <b>custom</b> header
        button(type="button", nglButtonIcon, variant="container", iconName="utility:info", nglTooltip="Some useful information!", nglTooltipOpenAuto)
  .slds-p-around_medium
    p Sit nulla est ex deserunt exercitation anim occaecat. Nostrud ullamco deserunt aute id consequat veniam incididunt duis in sint irure nisi. Mollit officia cillum Lorem ullamco minim nostrud elit officia tempor esse quis. Cillum sunt ad dolore quis aute consequat ipsum magna exercitation reprehenderit magna. Tempor cupidatat consequat elit dolor adipisicing.
    p Dolor eiusmod sunt ex incididunt cillum quis nostrud velit duis sit officia. Lorem aliqua enim laboris do dolor eiusmod officia. Mollit incididunt nisi consectetur esse laborum eiusmod pariatur proident. Eiusmod et adipisicing culpa deserunt nostrud ad veniam nulla aute est. Labore esse esse cupidatat amet velit id elit consequat minim ullamco mollit enim excepteur ea.
