.slds-text-title_caps.slds-m-bottom_small Default
ngl-pagination([(page)]="pageDefault", total="62")
ngl-pagination([(page)]="pageBoundary", total="42", boundaryLinks)
.slds-text-title_caps.slds-m-bottom_small.slds-m-top_large Limited visible options
.slds-text-title_caps-normal.slds-m-bottom_x-small Showing {{pagination.start}} - {{pagination.end}} of {{total}}
ngl-pagination([(page)]="page", [total]="total", limit="5", boundaryNumbers="1", #pagination)
| Total:
input([(ngModel)]="total")
