ngl-avatar(src="assets/images/avatar1.jpg", alternativeText="avatar 1")
ngl-avatar(size="small", variant="circle", src="assets/images/avatar2.jpg", alternativeText="avatar 2")
ngl-avatar(variant="circle", initials="TP")
ngl-avatar(src="not-exists.png", initials="AKE", fallbackIconName="standard:account", title="Fallback initials")
.slds-grid.slds-m-top_large(style="height: 50px;")
  .slds-align-middle.slds-col
    button(type="button", nglButton, (click)="changeVariant()") Change Variant
    |
    button(type="button", nglButton, (click)="changeSize()") Change Size
    |
    ngl-avatar.slds-m-left_small([src]="src", [size]="size", [variant]="variant")

