label([nglFormLabel]="label", [attr.for]="_uid", [required]="required")
ngl-form-help(*ngIf="fieldLevelHelpTooltip", [content]="fieldLevelHelpTooltip")
.slds-form-element__control
  .slds-select_container
    ng-content
.slds-form-element__help(*ngIf="hasError", [id]="errorId", [nglInternalOutlet]="error")
