li.slds-color-picker__swatch(*ngFor="let color of swatchColors; let i = index", role="presentation")
  a(nglColorpickerSwatchTrigger, href="javascript:void(0);",
    [selected]="isSelected(color)",
    [attr.tabindex]="activeIndex === i ? 0 : -1",
    (selectedChange)="onSelect(color)")
    span(nglColorpickerSwatch, [color]="color")
